.App {
  text-align: center;
  background: linear-gradient(147deg, #FFE53B 0%, #fb6e6e 74%);
  font-family: Acme;
  width: 100%;
  height: 100%;
  font-size: 30px;
  
}
#un{
  font-family: Acme;
}
#pd{
  font-family: Acme;
}
#sub{
  font-family: Acme;
  }
input{
  width:350px;
  height:40px;
  border-radius: 5px;
}

.title {
  text-align: center;
}

.login {
  margin-left: 0px;
  height: 500px;
  width: 550px;
  transform: translate(865px, 120px);
  border: #282c34 solid;
}

.image1 {
  text-align: left;
  transform: translate(13%, -80%);
  width: 600px;
}

.famarks {
  border: 5px solid #043643;
}

th {
  border: 1px solid black;
}

.Stu {
  text-align: center;
  background-color: #f0ccc0;
  font-family: Acme;
  font-size: 30px;
  height: 100%;
  width: 100%;
  margin-bottom:20px;
  position: absolute;
  z-index: -3 !important;
  
}

.Edit {
  text-align: center;
  background: linear-gradient(147deg, #FFE53B 0%, #fb6e6e 74%);
  font-family: Acme;
  height: auto;
  width: 1500px;
  margin-bottom: 20px;
}

.text-primary {
  text-align: left;
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}

.container-fluid {
  background-color: #20217a;
  width: 100px;
  height: 65px;
  position: sticky;
  top: 0;
}

.container-fluid {
  background-color: #20217a;
}

#menu {
  margin-left: 10px;
  margin-right: 20px;
}

.space {
  margin-left: 25px;
}

.ins {
  position: relative;
  left: 5px;
  right:10px;
}

.lab {
  margin-bottom: 30px;
  align-items: safe;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #043643;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.msg {
  color: #FFF;
  margin-bottom: 6.5rem;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;
}

.box {
  display: block;
  color: #043643;
  font-size: 0.8rem;
  width: 100%;
  line-height: 2rem;
  height: 2rem;
  letter-spacing: 2px;
}

custom-slider {
  transform: scale(2);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Gradename {
  font-family: Acme;
  font-size: 60px;
  text-align: left;
  margin-left: 10px;
  border-bottom: #261e50 double;
}

.App-link {
  color: #61dafb;
}

.slidecontainer {
  width: 100%;
}

.slider {
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

#logo {
  position: absolute;
  top: 50px;
  left: 20px;
  /*display: block;
   margin-left: 50px;
margin-right: 2200px;
margin-top: 20px;*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button {
  border: #20217a;
  border-radius: 10px;
  width: 50px;
  height: 20px;
}

.tab-content {
  width: 100%;
  max-width: 800px;
}

@media (max-width: 1000px) {
  .tabs {
    flex-direction: column;
    text-align: center;
  }

  .tab-button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.graphst {
  width: 700px;
  height: 1000px;
}

html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;
  height: 100vh;
}

#page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #f8f2f2;
  transition: color 0.2s;
}

.bm-item:hover {
  color: rgb(245, 107, 57);
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 30px;
  top: 20px;
}

.bm-burger-bars {
  background: #fafafc;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #20217a9e;
  opacity: 90%;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #1a1802;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#nestlogo {
  margin-left: 80px;
}
.St{
  position: relative;
  top: 100px;
}
.Sd{
  position: relative;
  top: 100%;
  height: 100%;
}
addspace{
  margin-top: 40px;
}

.dropbtn {
  background-color: #adabb9;
  color: white;
  width: 350px;
  height: 40px;
  font-size: 30px;
  border-radius: 5px;
}

.dropdown {
  text-align: left;
  display: inline-block;
  margin-left: 10px;
}

.container {
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-size: 20px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #c2c0cfc0;
}
.ga{
  height: max-content;
}