.App {
  text-align: center;
  background-color: #fcd6c4;
  font-family:Skyscapers;
  height: 730px;
  width: 1500px;
  margin-bottom:20px;

}

.Edit{
  text-align: center;
  background-color: #fcd6c4;
  height: 730px;
  width: 1500px;
  margin-bottom:20px;
}
.text-primary {
  text-align: left;
--bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
}
.container-fluid{
  background-color: #20217a;

}
#menu{
  margin-left: 10px;
}

  label, input {
    display: inline-block;
    margin-right: 10px; 
    margin-bottom: 25px;
}
.space{
  margin-left: 25px; 
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#un{
  background: linear-gradient(21deg, #fcfcfb, #bdbbba);
  border-radius: 6px;
  margin-bottom:30px;
  margin-left: 663px;
  margin-top: 80px;
  height:35px;
width:200px; 
	
	
}
#pd{
  background: linear-gradient(21deg, #fcfcfb, #bdbbba);
  border-radius: 6px;
  margin-bottom:30px;
  margin-left: 663px;

  height:35px;
width:200px; 
}
#sub{
  background: linear-gradient(21deg, #fcfcfb, #bdbbba);
  border-radius: 6px;
  margin-left: 660px;
}

#logo{
  position: absolute;
  top:50px;
  left:20px;
 /*display: block;
   margin-left: 50px;
margin-right: 2200px;
margin-top: 20px;*/
}
.title{
 position:relative;
 top:60px;
 left:22%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
