.box {
  position: relative;
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
  }
  .Boxstyle{
     position: absolute;
     left: 250px;
     top: 150px;
      display: flex;
      flex-wrap:wrap;
      width: 1100px;
      background-color: transparent;
  
  }
  /* .Logo{ */
    /* background-image:url("../src/download.jpg"); */

  /* } */
  /* .Boxstyle1{
    
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(108, 137, 165);

  } */
    